
*{
	box-sizing: "border-box";
	text-align: center;
}

.container {

	width: 368px;
	border:solid 1px #333333;
	border-radius: 5px;
	padding: 15px;
	background-color: #999999;

}

.input {

	width: 92.5%;
	padding : 10px;
	border-radius: 5px;


}

.reset {

	width: 20%;
	border-radius: 5px;
	padding : 10px;
	border:solid 1px #333333;
}

.hasil { 

	width: 71.5%;
	border-radius: 5px;
	padding : 10px;
 }

 .baris1 {

 	margin-bottom: 5px;

}

 .form {

 	margin-bottom: 5px;
 
}


.tambah {

	border-radius: 5px;
	padding : 10px;
	border:solid 1px #333333;
}

.kurang {

	border-radius: 5px;
	padding : 10px;
	border:solid 1px #333333;
}

.kali {

	border-radius: 5px;
	padding : 10px;
	border:solid 1px #333333;
}

.bagi {

	border-radius: 5px;
	padding : 10px;
	border:solid 1px #333333;
}

.hitung {

	border-radius: 5px;
	border: double 3px #333333;
}

.baris3 button {

	padding: 10px 25px;
}
